@charset "utf-8";
/* CSS Document */

@import url('bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,500,600,700,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px;
    color: #3a3a3a;
    font-weight: 400;
    /*background-color: #fff;*/
    background-color: #efefef;
}

* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.clr,
.clear {
    clear: both;
}

header,
footer,
aside,
article,
section,
detail,
nav,
figure {
    position: relative;
    /* overflow:hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none;
}

img {
    border: 0;
    outline: none;
    max-width: 100%;
}

input[type="text"],
input[type="password"],
select,
textarea,
input[type="button"] {
    max-width: 100%;
}

input[type="date"]{
    text-transform: uppercase;
}

table {  width: 100%; }
p { margin: 0; padding: 0; }
.fltL { float: left; }
.fltR { float: right; }
.padding_none { padding: 0 !important;}
.border_none{border:none !important}
.navbar-toggle {  background-color: #fff !important; }
.icon-bar { background-color: #000 !important; }
.p_right0{ padding-right:0px !important }
.p_left0{ padding-left:0px !important }



.dark_Blue{ background-color: #016bb5 ;}
.Pink{ background-color: #ac70ba ;}
.Green{ background-color: #00caa9 ;}
.Light_Blue{ background-color: #00c2f5 ;}



.LoginArea{background-color:#f2f2f2;min-height:100vh;display:flex}
.LoginArea .LoginBox{width:100%;max-width:450px;margin:auto;box-shadow:0 2px 12px #d4d1d1;padding:25px;background-color:#fff;border-radius:15px}
.LoginArea .LoginBox figure{width:150px;margin:0 auto 20px}
.LoginArea .LoginBox form .form-group{border:1px solid #ddd;padding:0 0;margin:0 0 30px 0;position:relative;border-radius:5px;transition:0.5s all ease-in-out}
.LoginArea .LoginBox form .form-group label{color:#999;font-size:15px;font-weight:400;position:absolute;pointer-events:none;left:20px;top:16px;transition:all 0.2s ease;margin:0;background-color:#fff;width:220px}
.LoginArea .LoginBox form .form-group input:focus~label,
.LoginArea .LoginBox form .form-group input.used~label{top:-23px;left:-3px;color:#4a89dc;transform:scale(.75);-webkit-transform:scale(.75);background-color:#fff;padding:10px 18px;font-size:17px;width:auto}
.LoginArea .LoginBox form .form-group .form-control{box-shadow:none;padding:0 50px 0 20px;height:53px;font-size:14px;border-radius:4px;border:1px solid transparent;transition:0.5s all ease-in-out;background-color:transparent}
.LoginArea .LoginBox form .form-group span{margin:0;font-size:20px;line-height:25px;text-align:center;color:#114457;position:absolute;top:15px;right:20px}
.LoginArea .LoginBox form .form-group input:focus,
.LoginArea .LoginBox form .form-group input:focus .form-group,
.LoginArea .LoginBox form .form-group:hover,
.LoginArea .LoginBox form .form-group:hover .form-control{border:1px solid #000}
.LoginArea .LoginBox form button{width:120px;border:none;background-color:#ac70ba;color:#fff;padding:13px 0;text-transform:capitalize;font-weight:500;font-size:15px;transition:0.5s all ease-in-out;letter-spacing:.5px;outline:0;display:block;margin:0 auto 20px;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);overflow:hidden}
.LoginArea .LoginBox form button:before{content:"";position:absolute;z-index:-1;top:0;bottom:0;left:0;right:0;background:#114457;-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:50%;transform-origin:50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.LoginArea .LoginBox form button:hover,
.LoginArea .LoginBox form button:focus,
.LoginArea .LoginBox form button:active{color:#fff}
.LoginArea .LoginBox form button:hover:before{-webkit-transform:scaleX(0);transform:scaleX(0)}
.LoginArea .LoginBox form p{text-align:center;font-size:15px;font-family:'Roboto';font-weight:400;color:#635a5a}
.LoginArea .LoginBox form p.invalid-feedback { margin: -20px 0 20px 0; }
.LoginArea .LoginBox form p a{font-weight:500;color:#114457 }
.LoginArea .LoginBox form p a:hover{color:#ac70ba}
.LoginArea .LoginBox form h6{text-align:center;font-size:15px;margin:10px 0 0 0;font-family:'Roboto';font-weight:500}
.LoginArea .LoginBox form h6 a{color:#016bb5}
.LoginArea .LoginBox form h6 a:hover{color:#ac70ba}

#Forgot{padding:0px!important}
#Forgot .modal-dialog{width:450px;margin:70px auto}
#Forgot .modal-dialog .modal-content .modal-body{padding:0}
#Forgot .modal-dialog .modal-content .modal-body .ForgotForm{padding:35px;position:relative}
#Forgot .modal-dialog .modal-content .modal-body .ForgotForm a.Close{position:absolute;top:-15px;right:-15px;width:36px;height:36px;text-align:center;color:#000;font-size:17px;border-radius:50px;background-color:#fff;border:3px solid rgba(0,0,0,.5);line-height:31px}
#Forgot .modal-dialog .modal-content .modal-body .ForgotForm figure{width:150px;margin:0 auto 40px}
#Forgot .ForgotForm form .form-group{border:1px solid #ddd;padding:0 0;margin:0 0 30px 0;position:relative;border-radius:5px;transition:0.5s all ease-in-out}
#Forgot .ForgotForm form .form-group label{color:#999;font-size:15px;font-weight:400;position:absolute;pointer-events:none;left:20px;top:16px;transition:all 0.2s ease;margin:0;background-color:#fff;width:190px}
#Forgot .ForgotForm form .form-group input:focus~label,
#Forgot .ForgotForm form .form-group input.used~label{top:-23px;left:-3px;color:#4a89dc;transform:scale(.75);-webkit-transform:scale(.75);background-color:#fff;padding:10px 18px;font-size:17px;width:auto}
#Forgot .ForgotForm form .form-group .form-control{box-shadow:none;padding:0px 50px 0 20px;height:53px;font-size:15px;border-radius:4px;border:1px solid transparent;transition:0.5s all ease-in-out;background-color:transparent}
#Forgot .ForgotForm form .form-group span{margin:0;font-size:20px;line-height:25px;text-align:center;color:#114457;position:absolute;top:15px;right:20px}
#Forgot .ForgotForm form .form-group input:focus,
#Forgot .ForgotForm form .form-group input:focus .form-group,
#Forgot .ForgotForm form .form-group:hover,
#Forgot .ForgotForm form .form-group:hover .form-control{border:1px solid #000}
#Forgot .ForgotForm form button{width:120px;border:none;background-color:#ac70ba;color:#fff;padding:13px 0;text-transform:capitalize;font-weight:500;font-size:15px;transition:0.5s all ease-in-out;letter-spacing:.5px;outline:0;display:block;margin:0 auto 20px;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);overflow:hidden}
#Forgot .ForgotForm form button:before{content:"";position:absolute;z-index:-1;top:0;bottom:0;left:0;right:0;background:#114457;-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:50%;transform-origin:50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
#Forgot .ForgotForm form button:hover,
#Forgot .ForgotForm form button:focus,
#Forgot .ForgotForm form button:active{color:#fff}
#Forgot .ForgotForm form button:hover:before{-webkit-transform:scaleX(0);transform:scaleX(0)}
#Forgot .ForgotForm form p{text-align:center;font-size:15px;font-family:'Roboto';font-weight:400;color:#635a5a}
#Forgot .ForgotForm form p a{font-weight:500;color:#114457 }
#Forgot .ForgotForm form p a:hover{color:#ac70ba}

header{ background-color: #fff; padding: 0 50px; box-shadow: 0px 0px 5px #ccc; }
header .Header{background-color:#fff;padding: 10px 0px;text-align:right;max-width: 1500px;margin: auto;}
header .Header .Logo{float:left;width:60px}
header .Header .Navigation{float:right;margin: 18px 0;}
header .Header .Navigation ul li{display:inline-block;margin:0 0 0 30px}
header .Header .Navigation ul li a{font-size:14px;color:#000;letter-spacing:.4px;position: relative;display: block;padding: 0 0 4px 0px;}
header .Header .Navigation ul li a:after{content: '';background-color: #ac70ba;position: absolute;left: 0; right: 0; margin: auto; width: 0%;height: 1px;bottom: 0; transition: 0.5s all ease-in-out}
header .Header .Navigation ul li.active a,
header .Header .Navigation ul li a:hover{color:#ac70ba;}
header .Header .Navigation ul li a:hover:after,
header .Header .Navigation ul li.active a:after{  width: 100%; }
header .Header .Profile { position:relative;padding:10px 25px 10px 45px;margin:0;color:#000;float:right;text-align:left;margin:0 0 0 60px;cursor:pointer;min-width:200px}
header .Header .Profile:after{font-family:'FontAwesome';content:'\f107';position:absolute;right:0;top:10px;font-size:20px}
header .Header .Profile figure{position:absolute;top:10px;left:0;width:35px;height:35px;overflow:hidden;border-radius:50%}
header .Header .Profile figure img{width:100%}
header .Header .Profile h4{font-weight:500;font-size:16px;margin:0 0 2px; text-transform: capitalize;}
header .Header .Profile p{font-weight:500;margin:0}
header .Header .Profile ul{border:none;padding:0;border-radius:0;top:150%;min-width:215px;right:auto;overflow:hidden;opacity:0;visibility:hidden;display:block;transition:0.6s all ease-in-out;position:absolute;left:0}
header .Header .Profile:hover ul{opacity:1;visibility:visible;top:100%}
header .Header .Profile ul li a{display:block;background-color:#ac70ba;padding:10px 20px;color:#fff;font-size:14px}
header .Header .Profile ul li a:hover{background-color:#00c2f5;color:#fff}

.MainWrapper{ padding: 50px; /*background-color: #efefef; min-height: calc(100vh - 120px);*/  }
.MainWrapper .Wrapper{background-color: #fff;padding: 15px;max-width: 1500px;margin: auto;border: 1px solid #dad8d8;border-radius: 5px;}

.DashboardArea .TargetArea h3{margin: 10px 0 15px 5px;font-family:'Roboto';font-size: 17px;font-weight:500;}
.DashboardArea .TargetArea select{float: right;margin: -3px 0px 0 0;border-radius: 0;border: 1px solid #ddd;width: 100px;padding: 2px 10px;cursor: pointer;outline: 0;box-shadow: none;font-size: 12px;}
.DashboardArea .TargetArea a{ float: right; border: 1px solid #ddd; padding: 3px 4px; margin: -2px 0 0 0; color: #5d5d5d; font-weight: 500; min-width: 100px; position: relative; }
.DashboardArea .TargetArea a:after{font-family:'FontAwesome';content:'\f107';position: absolute;right: 0;top: 0;width: 25px;height: 100%;border-left: 1px solid #ddd;text-align: center;font-size: 16px;line-height: 25px;}
.DashboardArea .TargetArea ul{float:left;width:100%}.TargetArea ul li{float:left;width: calc(100% / 4);padding: 0 3px;margin:0 0 30px;}
.DashboardArea .TargetArea ul li .OverBox{text-align:center;padding: 20px 0px 20px;position:relative;background-color:#fff;border:1px solid #d6d6d6;cursor:pointer;transition:0.5s all ease-in-out;}
.DashboardArea .TargetArea ul li .OverBox:after{content:'';position:absolute;width:0;height:0;border-left: 20px solid transparent;border-right:0 solid transparent;border-top: 20px solid #494949;top: 5px;right: 5px;}
.DashboardArea .TargetArea ul li .OverBox:hover{background-color:#feca05;color:#000;border-color:#feca05}
.DashboardArea .TargetArea ul li:nth-child(1) .OverBox{ border: 1px solid #016bb5;}
.DashboardArea .TargetArea ul li:nth-child(2) .OverBox{ border: 1px solid #ac70ba;}
.DashboardArea .TargetArea ul li:nth-child(3) .OverBox{ border: 1px solid #00caa9;}
.DashboardArea .TargetArea ul li:nth-child(4) .OverBox{ border: 1px solid #00c2f5;}
.DashboardArea .TargetArea ul li:nth-child(1) .OverBox:after{border-top: 20px solid #016bb5;}
.DashboardArea .TargetArea ul li:nth-child(2) .OverBox:after{border-top: 20px solid #ac70ba;}
.DashboardArea .TargetArea ul li:nth-child(3) .OverBox:after{border-top: 20px solid #00caa9;}
.DashboardArea .TargetArea ul li:nth-child(4) .OverBox:after{border-top: 20px solid #00c2f5;}
.DashboardArea .TargetArea ul li:nth-child(1) .OverBox:hover{background-color: #016bb5;border-color: #016bb5;}
.DashboardArea .TargetArea ul li:nth-child(2) .OverBox:hover{background-color: #ac70ba;border-color: #ac70ba;}
.DashboardArea .TargetArea ul li:nth-child(3) .OverBox:hover{background-color: #00caa9;border-color: #00caa9;}
.DashboardArea .TargetArea ul li:nth-child(4) .OverBox:hover{background-color: #00c2f5;border-color: #00c2f5;}
.DashboardArea .TargetArea ul li .OverBox:hover{color: #fff;}
.DashboardArea .TargetArea ul li .OverBox:hover:after{border-top: 20px solid #fff;}
.DashboardArea .TargetArea ul li h3{font-size: 20px;font-weight:500;font-family:'Roboto';margin: 0;}
.DashboardArea .TargetArea ul li p{font-size: 10px;font-weight:500;text-transform:capitalize;}
.DashboardArea .StatusArea{margin:0 0 20px}
.DashboardArea .StatusArea ul li{width:calc(100% / 2);float:left;padding:0 10px;margin: 0 0 15px;}
.DashboardArea .StatusArea ul li p{font-size: 13px;font-family:'Roboto';margin:0 0 4px;font-weight:400;color:#000;}
.DashboardArea .StatusArea ul li .progress{margin:0;box-shadow:none;border:1px solid #0490b5;height: 15px;font-size:15px;border-radius:0;}
.DashboardArea .StatusArea ul li .progress .progress-bar{background-color:#0490b5;font-size: 11px;font-family:'Roboto';line-height: 15px;}

.TodoArea{margin:0 0 10px 0}
.TodoArea h3{margin:10px 0 15px 5px;font-family:'Roboto';font-size: 17px;font-weight:500;border-bottom:1px solid #ddd;padding:0 0 8px 0;}
.TodoArea ul li{width: 100%;float:left;padding:0 10px 0;margin: 0 0 10px;}
.TodoBox{border-bottom:1px dotted #c5c5c5;padding:0 0 10px} 
.TodoBox h4{margin:0 0 3px 0}
.TodoBox h4 span.Check{width:14px;height:14px;border:1px solid #757575;margin-right:6px;border-radius:2px;display:inline-block}
.TodoBox h4 span.Task{}
.TodoBox h4 span.Task{background:#225163;color:#fff;border-radius:100%;width:20px;height:20px;display:inline-block;text-align:center;font-size:12px;line-height:21px;float:right}
.TodoBox h4 a{font-weight:500;color:#000;font-size: 14px;font-family:'Roboto';display:inline-block;}
.TodoBox h4 a:hover{color:#ac70ba}
.TodoBox p{font-size: 13px;line-height:20px;color:#3a3a3a;margin:0 0 7px;}
.TodoBox h6{font-size: 12px;}
.TodoBox h6 span{border-right:1px solid #ddd;padding:0 20px 0 0;margin:0 20px 0 0}
.TodoBox h6 span i{margin:0 10px 0 0}

.NoticesetArea{padding:20px 0 20px 0}
.NoticesetArea .NoticesetBox .NoticesetHead{text-align:right;margin: 0 0 15px 0;min-height: 30px;border-bottom:1px solid #ddd;}
.NoticesetArea .NoticesetBox .NoticesetHead h4{margin: 6px 0;font-family:'Roboto';font-size: 16px;font-weight:500;float:left;}
.NoticesetArea .NoticesetBox .NoticesetHead a{color:#fff;padding: 4px 13px;box-shadow:#5f4646 0 0 5px 0;margin-left:10px;display:inline-block;font-size: 11px;}
.NoticesetArea .NoticesetBox .NoticesetBody{overflow:auto;max-height:350px;padding:0 15px 0 0}
.NoticesetArea .NoticesetBox .NoticesetBody ul.BoardList li .BoardBox{padding: 0 70px 0 50px;}
.NoticesetArea .NoticesetBox .NoticesetBody ul.BoardList li .BoardBox figure{width: 45px;height: 45px;}
.NoticesetArea .NoticesetBox .NoticesetBody ul.BoardList li .BoardBox h3{font-size: 14px;padding:0 0 0 0;}
.NoticesetArea .NoticesetBox .NoticesetBody ul.BoardList li .BoardBox h3 span{background:#225163;color:#fff;border-radius:100%;width:20px;height:20px;display:inline-block;text-align:center;font-size:12px;line-height:21px;float:right}
.NoticesetArea .NoticesetBox .NoticesetBody ul.BoardList li .BoardBox p{font-size: 12px;line-height: 18px;color:#3a3a3a;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.NoticesetArea .NoticesetBox .NoticesetBody ul.BoardList li .BoardBox h5{font-size: 12px;}
.NoticesetArea .NoticesetBox .NoticesetBody ul.BoardList li .BoardBox .Complete{position:absolute;top:0;right:0;}
.NoticesetArea .NoticesetBox .NoticesetBody ul.BoardList li .BoardBox .Complete span{background:#1e9884;color:#fff;border:none;padding:3px 8px;box-shadow:#020202 1px 1px 3px 0;border-radius:1px;display:inline-block;font-size: 9px;}
.NoticesetArea .NoticesetBox .NoticesetBody ul.BoardList li .BoardBox .Complete span a{ color: #fff; }

.LogsArea{padding:10px}
.LogsArea a.Back{ float: right; color: #000; font-weight: 500; text-decoration: underline;}
.LogsArea a.Back .fa{ margin: 0 7px 0 0;}
.LogsArea a.Back:hover{ color: #016bb5 }
.LogsArea h2{font-weight:600;color:#000;margin: 0 0 15px 0;font-family:'Roboto';font-size: 20px;text-transform:uppercase;}
.LogsArea h3{color: #000; font-size: 17px; margin: 0 0 10px;}

.Logs-details{border:1px solid #ddd;padding:20px;margin-top:20px;background:#fff;box-sizing:border-box}
.Logs-details .DetailsHead{margin:0 0 30px 0}
.Logs-details .DetailsHead figcaption{margin: 0 0 15px 0;text-align:right;border-bottom:1px solid #ddd;padding:0 0 15px 0;}
.Logs-details .DetailsHead figcaption h3{float:left;margin:7px 0;font-family:'Roboto';font-size:19px;font-weight:500}
.Logs-details .DetailsHead figcaption span{background:#1e9884;color:#fff;border:none;padding:3px 8px;box-shadow:#020202 1px 1px 3px 0;border-radius:1px;display:inline-block}
.Logs-details .DetailsHead figcaption span a{ color: #fff  }
.Logs-details .DetailsHead aside{padding: 0 40px 0 0px;position:relative;max-width:100%;}
.Logs-details .DetailsHead aside figure{position:absolute;top:0;left:0;width: 65px;height: 65px;border-radius:50%;overflow:hidden;}
.Logs-details .DetailsHead aside figure img{width:100%} 
.Logs-details .DetailsHead aside p{font-size:13.5px;line-height:21px;margin:0 0 6px 0;color:#000}
.Logs-details .DetailsHead aside h5{font-size:14px;color:#000}
.Logs-details .DetailsHead aside span.Task{background:#225163;color:#fff;border-radius:100%;width: 20px;height: 20px;display:inline-block;text-align:center;font-size: 12px;line-height: 21px;position:absolute;right:0;top:0;}
.Logs-details .DetailsHead aside h6{font-size:14px; margin: 10px 0 0 0}
.Logs-details .DetailsHead aside h6 span{border-right:1px solid #ddd;padding:0 20px 0 0;margin:0 20px 0 0}
.Logs-details .DetailsHead aside h6 span i{margin:0 10px 0 0}
.Logs-details .DetailsBody h3{font-weight:500;color:#000;margin:0 0 20px 0;font-family:'Roboto';font-size:23px;text-transform:capitalize}
.Logs-details .DetailsBody ul.BoardList li .BoardBox{padding: 0 0 0 76px;}
.Logs-details .DetailsBody ul.BoardList li .BoardBox figure{width: 60px;height: 60px;}
.Logs-details .DetailsBody form{margin:40px 0 0 0;padding:0 0 0 70px;position:relative;max-width:100%;min-height:55px}
.Logs-details .DetailsBody form figure{position:absolute;top:0;left:0;width:55px;height:55px;border-radius:50%;overflow:hidden}
.Logs-details .DetailsBody form textarea{width:100%;height:100%;border:none;border-bottom:1px solid #ddd;outline:0;box-shadow:none;padding:0 100px 0 0;height:50px;resize:none;font-size:15px}
.Logs-details .DetailsBody form button{background:#016bb5;color:#fff;height:auto;width:auto;line-height:24px;border-radius:0;box-shadow:#a5a2a2 0 2px 3px 0;border:none;padding:6px 30px;position:absolute;right:0;margin:5px 0 0 0}
.LogsArea .To-do{}
.LogsArea .To-do ul{}
.LogsArea .To-do ul li{  padding: 0 0 15px; }

ul.BoardList li{border-bottom:1px solid #ddd;padding: 0 0 15px 0;margin: 0 0 15px;}
ul.BoardList li:last-child{border-bottom:none;padding:0;margin:0}
ul.BoardList li .BoardBox{padding:0 0 0 90px;position:relative;max-width:100%}
ul.BoardList li .BoardBox a{display:inline-block}
ul.BoardList li .BoardBox figure{position:absolute;top:0;left:0;width:80px;height:80px;border-radius:50%;overflow:hidden}
ul.BoardList li .BoardBox figure img{width:100%}
ul.BoardList li .BoardBox h3{font-weight:500;color:#000;margin: 0 0 4px 0;font-size:18px;font-family:'Roboto';}
ul.BoardList li .BoardBox h3 a{ color: #000 }
ul.BoardList li .BoardBox h3 a:hover{ color: #ac70ba }
ul.BoardList li .BoardBox h3 span{background:#225163;color:#fff;border-radius:100%;width:20px;height:20px;display:inline-block;text-align:center;font-size:12px;line-height:21px;float:right}
ul.BoardList li .BoardBox p{font-size:13.5px;line-height:21px;margin:0 0 6px 0;color:#000}
ul.BoardList li .BoardBox h5{font-size: 13px;color:#000;margin: 0 0 3px 0;}

.AppointmentArea{padding:20px}
.AppointmentForm{border-right:1px solid #ddd;padding:0 30px 0 0}
.AppointmentForm h3{font-weight:500;color:#000;margin:0 0 20px 0;font-family:'Roboto';font-size:25px;text-transform:capitalize;letter-spacing:.5px}
.AppointmentForm h3 a{background:#00c2f5;color:#fff;margin:0;border:none;padding:10px 25px;border-radius:5px;text-transform:capitalize;font-size:14px;letter-spacing:.5px;transition:0.5s all ease-in-out;float:right;font-weight:400}
.AppointmentForm h3 a:hover{background-color:#ab6eb9}
.AppointmentForm form h4{ font-weight: 500; : #000;  margin: 0 0 10px 0; font-family: 'Roboto'; font-size: 18px; text-transform: capitalize; letter-spacing: .5px; position: relative; padding: 0 0 7px;}
.AppointmentForm form h4:after{ content: ''; position: absolute; bottom: 0; left: 0; width: 80px; height: 1px; background-color: #000; }
.AppointmentForm form .form-group{margin:0 -15px 20px 0}
.AppointmentForm form .form-group .control-label{text-align:left;font-size:15px;font-weight:500;font-family:Roboto;padding:9px 0}
.AppointmentForm form .form-group .form-control{height:40px;border-radius:0;box-shadow:none;border:none;border-bottom:1px solid #ddd;padding:0;font-family:Roboto;font-size:14px}
.AppointmentForm form .form-group .radio-inline{ width: 25% }
.AppointmentForm form .form-group .Buttons{text-align:center;margin:20px 0 20px 0}
.AppointmentForm form .form-group .Buttons button,
.AppointmentForm form .form-group .Buttons a{background:#16485b; outline: 0; color:#fff;margin:0 7px;border:none;padding:9px 25px;border-radius:5px;text-transform:capitalize;font-size:14px;letter-spacing:.5px;transition:0.5s all ease-in-out}
.AppointmentForm form .form-group .Buttons button:hover,
.AppointmentForm form .form-group .Buttons a:hover{background-color:#ac70ba}

.CustomerBox{padding:0}
.CustomerBox:before{content:''}
.CustomerBox h3{font-weight:500;color:#000;margin:0 0 20px 0;font-family:'Roboto';font-size:25px;text-transform:capitalize;letter-spacing:.5px}
.CustomerBox h3 a{background:#00c2f5;color:#fff;margin:0;border:none;padding: 7px 15px;border-radius:5px;text-transform:capitalize;font-size: 13px;letter-spacing:.5px;transition:0.5s all ease-in-out;float:right;font-weight:400;}
.CustomerBox h3 a:hover{background-color:#ab6eb9}
.CustomerBox article{margin:0 0 40px 0}
.CustomerBox article figure{width: 135px;height: 135px;border-radius:50%;overflow:hidden;margin:auto;border:5px solid #016bb5;}
.CustomerBox article h4{font-weight:600;color:#016bb5;margin:15px 0 15px 0;font-family:'Roboto';font-size: 22px;text-transform:capitalize;letter-spacing:.5px;text-align:center;}
.CustomerBox article ul li{font-size: 14px;margin: 0 0 10px 0;}
.CustomerBox article ul li:last-child{margin:0}
.CustomerBox article ul li span:first-child{display:inline-block;min-width: 170px;font-weight:500;color:#000;position:relative;}
.CustomerBox article ul li span:first-child:after{content:':';position:absolute;top:0;right:10px}
.CustomerBox article ol{margin:15px 0 0 0}
.CustomerBox article ol li{display:inline-block;margin:0 30px 0 0}
.CustomerBox article ol li a{font-size:35px;color:#b12f2f}
.CustomerBox article ol li a:hover{color:#ac70ba}
.CustomerBox article h5{margin: 15px 0 8px 0;font-size: 16px;color: #000;}
.CustomerBox article p{line-height: 22px;color: #585757;margin: 0 0 10px;}
.CustomerBox article h6{ text-align: right; }
.CustomerBox article h6 a{background:#00c2f5;color:#fff;margin:0 0 0 5px;border:none;padding: 8px 15px;border-radius:5px;text-transform:capitalize;font-size:12px;letter-spacing:.5px;transition:0.5s all ease-in-out;display:inline-block;}
.CustomerBox article h6 a:hover{background-color:#006bb5}
.CustomerBox article a.Notes{background:#00c2f5; float: right;color:#fff;margin:0 0 0 5px;border:none;padding:6px 15px;border-radius:5px;text-transform:capitalize;font-size:12px;letter-spacing:.5px;transition:0.5s all ease-in-out;display:inline-block}
.CustomerBox article a.Notes:hover{background-color:#006bb5}
.CustomerBox a.Reund{background:#016bb5;color:#fff;width:150px;display:block;text-align:center;font-size:16px;text-transform:capitalize;padding:10px 0;letter-spacing:.5px;margin:auto;border-radius:7px}
.CustomerBox a.Reund:hover{background-color: #ac70ba;}

.ClientOption{text-align:right;margin:0 0 20px 0}
.ClientOption a{background:#00c2f5;color:#fff; margin:0 0 0 5px;border:none;padding:6px 15px;border-radius:5px;text-transform:capitalize;font-size:12px;letter-spacing:.5px;transition:0.5s all ease-in-out;display:inline-block}
.ClientOption a:hover{background-color:#006bb5}
.Client-Book{position:relative}
.Client-Book:after{content:'';position:absolute;top:0;right:-15px;width:1px;min-height:500px;background-color:#e4e4e4}
.Client-Book h3{font-weight:500;color:#000;margin:0;font-family:'Roboto';font-size:25px;text-transform:capitalize;letter-spacing:.5px}
.Client-Book .ClientHead{text-align:right;margin:20px 0 20px 0}
.Client-Book .ClientHead form{float:left;width:250px;position:relative}
.Client-Book .ClientHead form input{width:100%;height:30px;border-radius:0;border:none;border-bottom:1px solid #ddd;padding:0;font-family:Roboto;font-size:14px;outline:0;box-shadow:none;padding:0 27px 0 0}
.Client-Book .ClientHead form span{position:absolute;top:3px;right:6px;font-size:17px;color:#7d7d7d}
.Client-Book .ClientHead a{background:#00c2f5;color:#fff;margin:0 0 0 5px;border:none;padding:6px 15px;border-radius:5px;text-transform:capitalize;font-size:12px;letter-spacing:.5px;transition:0.5s all ease-in-out;display:inline-block}
.Client-Book .ClientHead a:hover,
.Client-Book .ClientHead a.active{background-color:#006bb5}
.Client-Book table{font-family:Roboto;border:1px solid #ddd}
.Client-Book table tr td,
.Client-Book table tr th{padding:16px 6px}
.Client-Book table tr td{border-top:1px solid #ddd}
.Client-Book table tr th{font-weight:500;color:#5a5a5a;font-size:12px}

.LoginArea{background-color:#f2f2f2;min-height:100vh;display:flex}
.InnerSignup .SignBox{width:100%;margin:auto;background-color:#fff;padding: 20px;}
.InnerSignup .SignBox h1{ margin: 0 0 20px 0px; text-transform: uppercase; font-size: 25px; font-weight: 600; color: #000; letter-spacing: 1px;}
.InnerSignup .SignBox figure{width:150px;margin:0 auto 20px}
.InnerSignup .SignBox form .form-group{border:1px solid #ddd;padding:0 0;margin:0 0 30px 0;position:relative;border-radius:5px;transition:0.5s all ease-in-out}
.InnerSignup .SignBox form .form-group label{color:#999;font-size:15px;font-weight:400;position:absolute;pointer-events:none;left:15px;top:16px;transition:all 0.2s ease;margin:0;background-color:#fff;width:190px}
.InnerSignup .SignBox form .form-group input:focus~label,
.InnerSignup .SignBox form .form-group input.used~label,
.InnerSignup .SignBox form .form-group select.used~label{top:-23px;left:-3px;color:#4a89dc;transform:scale(.75);-webkit-transform:scale(.75);background-color:#fff;padding:10px 18px;font-size:17px;width:auto}
.InnerSignup .SignBox form .form-group .form-control{box-shadow:none;padding:0 40px 0 15px;height:53px;font-size:15px;border-radius:4px;border:1px solid transparent;transition:0.5s all ease-in-out;background-color:transparent}
.InnerSignup .SignBox form .form-group span{margin:0;font-size:20px;line-height:25px;text-align:center;color:#114457;position:absolute;top:15px;right:20px}
.InnerSignup .SignBox form .form-group input:focus,
.InnerSignup .SignBox form .form-group input:focus .form-group,
.InnerSignup .SignBox form .form-group:hover,
.InnerSignup .SignBox form .form-group:hover .form-control{border:1px solid #000}
.InnerSignup .SignBox form button{width:120px;border:none;background-color:#ac70ba;color:#fff;padding:13px 0;text-transform:capitalize;font-weight:500;font-size:15px;transition:0.5s all ease-in-out;letter-spacing:.5px;outline:0;margin: 0px 0 10px 0px;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);overflow:hidden;text-transform: uppercase;letter-spacing: 1.5px;text-shadow: none;}
.InnerSignup .SignBox form button:before{content:"";position:absolute;z-index:-1;top:0;bottom:0;left:0;right:0;background:#114457;-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:50%;transform-origin:50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
.InnerSignup .SignBox form button:hover,
.InnerSignup .SignBox form button:focus,
.InnerSignup .SignBox form button:active{color:#fff}
.InnerSignup .SignBox form button:hover:before{-webkit-transform:scaleX(0);transform:scaleX(0)}

#Calender .modal-dialog{ width: 450px; } 
#Calender ul.nav-tabs{text-align:center;margin:0 0 30px}
#Calender ul.nav-tabs li{display:inline-block;float:none;margin:0}
#Calender ul.nav-tabs li a{margin:0;padding:10px 20px;border-radius:0;border:none;border-bottom:2px solid transparent;background:transparent;font-size:15px;color:#737272}
#Calender ul.nav-tabs li.active a{border-bottom:2px solid #114457;color:#114457}
#Calender form .form-group{border:1px solid #ddd;padding:0 0;margin:0 0 30px 0;position:relative;border-radius:5px;transition:0.5s all ease-in-out}
#Calender form .form-group label{color:#999;font-size:15px;font-weight:400;position:absolute;pointer-events:none;left:20px;top:16px;transition:all 0.2s ease;margin:0;background-color:#fff;width:190px}
#Calender form .form-group input:focus~label,
#Calender form .form-group input.used~label,

/*#Calender form .form-group select.used~label{top:-23px;left:-3px;color:#4a89dc;transform:scale(.75);-webkit-transform:scale(.75);background-color:#fff;padding:10px 18px;font-size:17px;width:auto}
*/
#Calender form .form-group select.used~label{top:-23px;left:15px;color:#4a89dc;background-color:#fff;padding:10px 18px;font-size:12px;width:auto}


#Calender form .form-group .form-control{box-shadow:none;padding:0 20px;height:53px;font-size:15px;border-radius:4px;border:1px solid transparent;transition:0.5s all ease-in-out;background-color:transparent}
#Calender form .form-group span{margin:0;font-size:20px;line-height:25px;text-align:center;color:#114457;position:absolute;top:15px;right:20px}
#Calender form .form-group input:focus,
#Calender form .form-group input:focus .form-group,
#Calender form .form-group:hover,
#Calender form .form-group:hover .form-control{border:1px solid #000}
#Calender form button{width:120px;border:none;background-color:#ac70ba;color:#fff;padding: 12px 0;text-transform:capitalize;font-weight: 400;font-size: 15px;transition:0.5s all ease-in-out;letter-spacing:.5px;outline:0;margin: 0 auto 10px;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);overflow:hidden;text-transform: uppercase;letter-spacing: 1.5px;text-shadow: none;display: block;}
#Calender form button:before{content:"";position:absolute;z-index:-1;top:0;bottom:0;left:0;right:0;background:#114457;-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:50%;transform-origin:50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
#Calender form button:hover,
#Calender form button:focus,
#Calender form button:active{color:#fff}
#Calender form button:hover:before{-webkit-transform:scaleX(0);transform:scaleX(0)}
 
.CalenderBox a.pull-left,
.CalenderBox a.pull-right{width:30px;height:20px;text-align:center;font-size:15px;color:#484747;cursor:pointer}
.CalenderBox .day-headers{margin:0 0 15px 0;border-bottom:1px solid #ddd}
.CalenderBox .day-headers .day.header{padding:10px 0;border:none}
.CalenderBox .responsive-calendar-modal{background-color:#1d86c8;color:white;padding:1em}
.CalenderBox .responsive-calendar .controls{text-align:center}
.CalenderBox .responsive-calendar .controls h4{display:inline}
.CalenderBox .responsive-calendar .day-headers,
.CalenderBox .responsive-calendar .days{font-size:0}
.CalenderBox .responsive-calendar .day{display:inline-block;position:relative;font-size:14px;width:14.285714285714286%;text-align:center}
.CalenderBox .responsive-calendar .day.today a{ background-color: #114457; color: #fff; }
.CalenderBox .responsive-calendar .day a{color:#000;display:block;cursor:pointer;padding:20% 0 20% 0}
.CalenderBox .responsive-calendar .day a:hover{background-color:#eee;text-decoration:none}
.CalenderBox .responsive-calendar .day.header{border-bottom:1px gray solid}
.CalenderBox .responsive-calendar .day.active a{background-color:#1d86c8;color:#fff}
.CalenderBox .responsive-calendar .day.active a:hover{background-color:#36a0e2}
.CalenderBox .responsive-calendar .day.active .not-current{background-color:#8fcaef;color:#fff}
.CalenderBox .responsive-calendar .day.active .not-current:hover{background-color:#bcdff5}
.CalenderBox .responsive-calendar .day.not-current a{color:#ddd}
.CalenderBox .responsive-calendar .day .badge{position:absolute;top:2px;right:2px;z-index:1}

#NoticeMsg .modal-dialog,
#PhoneMsg .modal-dialog,
#Assign .modal-dialog,
#Notice .modal-dialog{ width: 460px; }
.ModalBox .modal-dialog{ width: 460px; }

.CloseModal{position:absolute;top:-13px;right:-13px;width:26px;height:26px;background-color:#fff;border:2px solid rgba(0,0,0,.5);text-align:center;color:#000;font-size:15px;border-radius:50%}
.Category h3{text-align:center;font-weight:600;margin:0 0 20px 0;border-bottom:1px solid #ddd;padding:0 0 15px;font-size: 20px;}
.Category .form-group{margin:0 0 20px}
.Category .form-group label{display:block;font-weight:500;color:#000;font-size:15px;font-family:'Roboto'}
.Category .form-group .form-control{box-shadow:none;border:1px solid #c3c3c3;height:40px;font-size:14px;color:#000;line-height:22px}
.Category .form-group textarea.form-control{height:auto}
.Category form button{width:120px;border:none;background-color:#ac70ba;color:#fff;padding: 12px 0;text-transform:capitalize;font-weight: 400;font-size: 15px;transition:0.5s all ease-in-out;letter-spacing:.5px;outline:0;margin: 0 auto 10px;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);overflow:hidden;text-transform: uppercase;letter-spacing: 1.5px;text-shadow: none;display: block;}
.Category form button:before{content:"";position:absolute;z-index:-1;top:0;bottom:0;left:0;right:0;background:#114457;-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:50%;transform-origin:50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
.Category form button:hover,
.Category form button:focus,
.Category form button:active{color:#fff}
.Category form button:hover:before{-webkit-transform:scaleX(0);transform:scaleX(0)}
.Category article label.Checkbox{ width: 49%; display: inline-block; }

.Checkbox{display:block;position:relative;padding-left:37px;cursor:pointer;font-size:14px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-weight:400;margin:0 0 20px 0;color:#525151}
.Checkbox input{position:absolute;opacity:0;cursor:pointer;height:0;width:0}
.Checkbox .checkmark{position:absolute;top:0;left:0;height:21px;width:23px;background-color:#fff;border:1px solid #c5bfbf;border-radius:2px}
.Checkbox:hover input~.checkmark{background-color:#ccc}
.Checkbox input:checked~.checkmark{background-color:#f68026;border-color:#eeeff5}
.Checkbox .checkmark:after{content:"";position:absolute;display:none}
.Checkbox input:checked~.checkmark:after{display:block}
.Checkbox .checkmark:after{left:9px;top:2px;width:6px;height:12px;border:solid white;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(55deg)}

.Calender_View ul.nav-tabs{text-align:center;margin:0 0 30px}
.Calender_View ul.nav-tabs li{margin:0}
.Calender_View ul.nav-tabs li a{margin:0;padding:10px 20px;border-radius:0;border:none;border-bottom:2px solid transparent;background:transparent;font-size:15px;color:#737272;outline-offset:0}
.Calender_View ul.nav-tabs li.active a{border-bottom:2px solid #114457;color:#114457}
.Calender_View ul.nav-tabs li.active a:hover,
.Calender_View ul.nav-tabs li.active a:focus{border:none; border-bottom: 2px solid #114457}

.Today h2{ margin: 0 0 20px; font-family: Roboto; font-size: 22px;}
.Today .TodayHead{float:left;width:75px;padding:20px 0 0 0}
.Today .TodayHead ul.nav-tabs{border:none;margin:0;text-align:left}
.Today .TodayHead ul.nav-tabs li{float:none;margin:0 0 15px}
.Today .TodayHead ul.nav-tabs li a{border-radius:0;margin:0;border:none;padding:0 0 0;font-size:13px}
.TodayBody{float:left;width:calc(100% - 75px)}

#Tommorow .CalenderBox .responsive-calendar .day.today a{background-color:transparent;color:#000}
#Tommorow .CalenderBox .responsive-calendar .day.today+.future a{background-color:#114457;color:#fff}

.AppoinmentBox{border-left:1px solid #ddd;padding:0 0 0 10px;display:flex;min-height: 550px;}
.AppoinmentBox article{width:22%}
.AppoinmentBox article h3{font-size:14px;margin:0 0 10px 0;border-bottom:1px solid #ddd;padding:0 0 7px;color:#777}
.AppoinmentBox article aside{background:#ac70ba;color:#fff;border-radius:5px;margin:0 0 4px 0;width:96%}
.AppoinmentBox article aside a{display:block;color:#fff;background:#ac70ba;color:#fff;padding:5px;border-radius:5px;transition:0.5s all ease-in-out}
.AppoinmentBox article aside a p{font-size:13px;font-family:Roboto}
.AppoinmentBox article aside a p span{font-weight:500}
.AppoinmentBox article aside a:hover{background-color:#016bb5}

.CalenderLeft form{}
.CalenderLeft form .form-group{margin:0 0 20px}
.CalenderLeft form .form-group label{display:block;font-size:15px;font-weight:500;color:#565252}
.CalenderLeft form .form-group .form-control{height:36px;border:1px solid #d0d0d0;border-radius:0;font-size:13px}
.CalenderLeft form button{border:none;background-color:#ac70ba;color:#fff;padding:8px 30px;text-transform:uppercase;font-size:16px;letter-spacing:.5px;border-radius:5px;transition:0.5s all ease-in-out}
.CalenderLeft form button:hover{background-color:#0066b2}

.FinanceHead{margin:0 0 30px}
.FinanceHead ul.nav-tabs{float:left;margin:0}
.FinanceBody .Client-Book h3{margin:0 0 15px}
ol.Finance-Total{float:right; margin: -70px 0 10px 0}
ol.Finance-Total li{display:inline-block;min-width:140px;text-align:center;box-shadow:0 3px 9px #ddd;padding:5px 0;border:1px solid #ddd;border-radius:6px;margin:0 0 0 10px;color:#5f5f5f;font-size:13px;line-height:21px}
ol.Finance-Total li span{display:block;color:#ac70ba;font-weight:600;font-size:18px}

#calendartab2 ul li{margin: 0 0 14px;}
#calendartab2 ul li:last-child{ margin: 0 }
#calendartab2 ul li:last-child .TodoBox{ border-bottom: none  }
#calendartab2 ul li .TodoBox{position:relative;padding: 6px 0 10px 35px;}
#calendartab2 ul li .TodoBox span{position:absolute;left:0;font-size:21px;top: 2px;}
#calendartab2 ul li .TodoBox p{font-size: 15px;margin:0;}

div#example_wrapper { overflow: auto; }


.AppoinmentBox{border-left: none;padding: 0;display:flex;min-height: 550px;}
.AppoinmentBox table{}
.AppoinmentBox table th{ font-size: 14px; margin: 0; border-bottom: 1px solid #ddd; padding: 0 0 7px; color: #777; font-weight: 500; width: 200px }
.AppoinmentBox table th:first-child{ width: 100px  }
.AppoinmentBox table td{padding: 10px 5px 0px 5px;position: relative;}
.AppoinmentBox table td:first-child:after{content: '';position: absolute;right: 5px;height: 100%;width: 1px;background-color: #ddd;top: 0;}

.AppoinmentBox table tr:nth-child(1n) aside.Booking a{ background-color: #195dbf }
.AppoinmentBox table tr:nth-child(2n) aside.Booking a{ background-color: #00a482 }
.AppoinmentBox table tr:nth-child(3n) aside.Booking a{ background-color: #bea841 }
.AppoinmentBox table tr:nth-child(4n) aside.Booking a{ background-color: #d56c39 }
.AppoinmentBox table tr:nth-child(5n) aside.Booking a{ background-color: #0196cf }
.AppoinmentBox table tr:nth-child(6n) aside.Booking a{ background-color: #804687 } 

.AppoinmentBox table tr aside.Booking.colorempty a{
background: #fff;
    border: 1px solid;
    text-align: center;
    color: #000;
}


.AppoinmentBox table tr aside.Booking.colorempty a:hover{
    background: #fff !important;
    color: #000 !important;
}


.AppoinmentBox table tr:nth-child(1n) aside.Booking.colorempty a{ border-color: #195dbf }
.AppoinmentBox table tr:nth-child(2n) aside.Booking.colorempty a{ border-color: #00a482 }
.AppoinmentBox table tr:nth-child(3n) aside.Booking.colorempty a{ border-color: #bea841 }
.AppoinmentBox table tr:nth-child(4n) aside.Booking.colorempty a{ border-color: #d56c39 }
.AppoinmentBox table tr:nth-child(5n) aside.Booking.colorempty a{ border-color: #0196cf }
.AppoinmentBox table tr:nth-child(6n) aside.Booking.colorempty a{ border-color: #804687 } 

aside.Booking{background:#ac70ba;color:#fff;border-radius:5px;margin:0;width:100%}
aside.Booking a{display:block;color:#fff;background:#ac70ba;color:#fff;padding: 10px 15px;border-radius:5px;transition:0.5s all ease-in-out;}
aside.Booking a p{font-size: 13px;font-family:Roboto;line-height: 21px;}
aside.Booking a p span{font-weight:500}
aside.Booking a:hover{background-color:#016bb5 !important }









